.newitem-form-container-title {
    font-size: 1.5em;
    margin: 0.5em 0;
    border-bottom: 1px solid;
    width: 100%;
}

.create-post-page-container {
    padding: 2em;
}

.create-post-page-form {
    position: relative;
    left: 33%;
}

@media screen and (max-width: 800px) {
    .create-post-page-form {
        position: static;
    }

    .create-post-page-container {
        padding: 0.5em;
    }

}
