.list-item-ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.title {
    font-size: 1.2em;
    margin: 1em 0em;
}