.categoryitem {
    padding: 1em 2em;
    border-radius: 2em;
    color: #fff;
    cursor: pointer;
}

.categoryitem-gray {
    background-color: darkgrey;
}

.categoryitem:hover {
    background-color: #29bc00;
}

.categoryitem-title {
    font-size: 1em;
    margin: 0;
}

