.comment-item {
    width: 350px;
    box-sizing: border-box;
    padding: 1.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    margin-bottom: 1.5em;
}

.comment-item-background-gradient {
    background: -webkit-linear-gradient(left top, #29bc00 50%, #ff6908); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #29bc00 50%, #ff6908); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #29bc00 50%, #ff6908); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #29bc00 50%, #ff6908); /* Standard syntax */
}

.comment-item-header-subtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.comment-item-body-title {
    font-size: 1em;
    margin: 0;
    border-bottom: 1px solid black;
}

.comment-item-body {
    background-color: #fff;
    padding: 0.5em 1em;
}

.comment-item-body-button {
    width: 50%;
    height: 100%;
    color: #fff;
    border: none;
}

.comment-item-body-button-danger {
    background-color: #ff0911;
}

.comment-item-body-button-warning {
    background-color: #ff9c0a;
}

.comment-items-button-container {
    width: 100%;
    height: 2.5em;
    border: 1px #fff solid;
}

@media screen and (max-width: 800px) {
    .comment-item{
        width: 300px;
    }

    .comment-item-header-subtitle {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}